<h1>{{estudiante.nombre}} <small>{{estudiante.cedula}}</small></h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <br><br>
        <a href="estudiantes" class="btn btn-outline-danger btn-block">Volver</a>
    </div>
    <div class="col-md-8">
        <h3>Estudiante: {{estudiante.nombre}}</h3>
        <hr>
        <p>Edad: {{estudiante.edad}} años</p>
        <p>Dirección: {{estudiante.direccion}}</p>
        <p>Observación: {{estudiante.observacion}}</p>
        <p>Año: {{estudiante.anio}}</p>
        <p>Deuda: {{estudiante.deuda}}</p>
        <div>

        </div>
    </div>
</div>
